.nameList {
  display: flex;
}

button {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(175, 180, 166);
}

header {
  display: flex;
  flex-direction: row;
}

img {
  height: 300px;
  width: auto;
}
