.nameList {
  display: flex;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding-left: 40px;
  padding-right: 40px;
}
.nameList:hover {
  cursor: pointer;
  background-color: rgb(175, 180, 166);
}
header {
  display: flex;
  flex-direction: row;
}

img {
  height: 300px;
  width: auto;
}
